<!DOCTYPE html>
<html>
<head>
  <title>FlashStach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <nav class="navbar navbar-default">
  <ul>
  <% if logged_in? %>
  	<%= link_to "Log out", logout_path, method: :delete %>
    | <%= link_to current_user.email, user_path(:id => current_user.id) %>
  <% else %>
    | <%= link_to "Login", login_path%>
    | <%= link_to "Register", new_user_path%>
  <% end %>
    | <%= link_to "Home", root_path %>
    </ul>
    </nav>
<div class="container">
<%= yield %>
</div>

</body>
</html>